# Environment & Secrets
.env
.env.local

# macOS & IDE
.DS_Store
.idea/
.vscode/

# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo

# iOS & Xcode
build/
DerivedData/
*.xcarchive
*.ipa
.swiftpm/
